/* --------------------- Tag Selector ---------------------*/
body
{
    background-color: #F3F2C9;
    
}
hr{
   
    border-style: none;
    border-top-style: dotted;
    border-width: 8px;
    border-color: #055052;
    width:5%;

}
h3{
    color: #055052;
}
/* --------------------- Class Selector ---------------------*/
.profile{
   block-size: 200px;
   border: #003638;
   border-style: solid;
   border-radius: 140px;
}
.text{
    color: #53B8BB;
}

/* --------------------- ID Selector ---------------------*/
#nm{
        color: #003638;
}